h1 {
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: Verdana;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    font-family: Verdana;
    text-decoration: underline;
}

h4 {
    font-size: 20px;
    font-family: Verdana;
}

p {
    font-size: 16px;
    color: black;
    font-family: Verdana;
}

ul {
    color: black;
    font-family: Verdana;
    font-style: bold;
}

ol {
    color: black;
    font-family: Verdana;
    font-style: bold;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
    font-family: Verdana;
    border-collapse: collapse;
    padding: 15px;
  }

th {
    height: 50px;
    font-size: 24px;
}
